*.cache
*cache.el
*.elc
*.el~
*#*#
*shadow
*.lsp-session-*

emacs/emacs.d/%backup%*~
emacs/emacs.d/bookmarks
emacs/emacs.d/projectile-bookmarks.eld
emacs/emacs.d/smex-items
emacs/emacs.d/packages
emacs/emacs.d/elpa
emacs/emacs.d/tramp
emacs/emacs.d/transient
emacs/emacs.d/auto-save-list
emacs/emacs.d/eshell
emacs/emacs.d/recentf
emacs/emacs.d/url
emacs/emacs.d/workspace
emacs/emacs.d/eclipse.jdt.*
emacs/emacs.d/speed-type