.stignore
*.cache
*cache.el
*.elc
*.el~
*#*#
*shadow
*.lsp-session-*

emacs/local/emacs.d/%backup%*~
emacs/local/emacs.d/bookmarks
emacs/local/emacs.d/projectile-bookmarks.eld
emacs/local/emacs.d/smex-items
emacs/local/emacs.d/packages
emacs/local/emacs.d/elpa
emacs/local/emacs.d/tramp
emacs/local/emacs.d/transient
emacs/local/emacs.d/auto-save-list
emacs/local/emacs.d/eshell
emacs/local/emacs.d/recentf
emacs/local/emacs.d/url
emacs/local/emacs.d/workspace
emacs/local/emacs.d/eclipse.jdt.*
emacs/local/emacs.d/speed-type
emacs/local/emacs.d/eln-cache
emacs/local/emacs.d/.tramp_history*.tmp
emacs/local/emacs.d/history
/emacs/local/emacs.d/projects
/emacs/local/emacs.d/eglot-java-eclipse-jdt-cache/
/emacs/local/emacs.d/share/
/emacs/local/emacs.d/tree-sitter/
/emacs/local/emacs.d/devdocs/
