[Unit]
Description=Backup ZFS datasets to /%i
Wants=network-online.target
After=network-online.target

[Service]
Environment=USERNAME=yad
ExecStart=/bin/zfs-export.sh /%i
KillMode=process

[Install]
WantedBy=multi-user.target