[Unit]
Description=Synchorize Pacman's DB
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/bin/sh -c '/bin/rm /var/lib/pacman/db.lck 2> /dev/null; pacman -Syy; /usr/bin/sudo -u yad /bin/sh -c "/home/yad/.config/lemon-bar/blocks/packages.sh > /tmp/lemon-panel-fifo"'
KillMode=process

[Install]
WantedBy=multi-user.target
