# -*- mode: snippet -*-
# name: Beamer Presentation
# key: beamer
# --

#+TITLE: $1
#+AUTHOR: $2
#+OPTIONS:   H:1 num:nil toc:nil \n:nil @:t ::t |:t ^:t -:t f:t *:t <:t
#+OPTIONS:   tex:t d:nil todo:t pri:nil tags:nil date:nil
#+BEAMER_THEME: Rochester
#+BEAMER_COLOR_THEME: structure
#+LaTeX_CLASS_OPTIONS: [presentation,bigger]
$0