[Unit]
Description=Sxhkd key binder

[Service]
ExecStart=/bin/sh -c '. ~/bin/settings.sh && /usr/bin/sxhkd -c ~/.config/sxhkd/bspwm-sxhkdrc'
ExecReload=/usr/bin/kill -SIGUSR1 $MAINPID
Restart=always
RestartSec=1s
Type=simple
KillMode=process

[Install]
WantedBy=default.target