[Unit]
Description=Backup ZFS datasets to /%i
Wants=network-online.target
After=network-online.target

[Service]
Environment=USER=yad
ExecStart=/usr/sbin/zfs-export /%i
KillMode=process

[Install]
WantedBy=multi-user.target