# When an input device has been added or removed, refresh the status bar to update the keyboard layout
SUBSYSTEM=="power_supply", RUN+="/usr/bin/dwmbar-cli refresh"
