[Unit]
Description=Lemon bar

[Service]
ExecStart=/bin/sh -c '. $HOME/bin/settings.sh && $HOME/.config/lemon-bar/panel.sh'
Restart=always
RestartSec=1s
Type=simple

[Install]
WantedBy=default.target