[Unit]
Description=Disable Nvidia GPU

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/bin/true
ExecStop=/usr/sbin/nvidia-cli off

[Install]
WantedBy=multi-user.target
